<h1>Welcome to Meadowlark Travel</h1>
<p> Welcome to the home of Meadowlark Travel Services.  We have many options and opportunities to
assist you with your travel plans.  Let us know how we can help you.
</p>
<ul>
  <li><A href="/about">About Meadowlark</A></li>
  <li><A href="/about/me">About the author</A></li>
  <li><A href="/route">Route</A></li>
  <li><A href="/params?type=chars&name=MyParams&owner=Justin Timberlake">Parameters</A></li>
</ul>