<!doctype html>
<html>
<head>
  <title>Meadowlark Travel Sucks!</title>
  <style type="text/css">h1,h2{ text-align : center; background-color : #99ff66 ; color : navy;}
.centered{
  text-align: center;
}
  </style>
</head>
<body>
    {{{body}}}
</body>
</html>

